<div ui-view="form" ng-cloak ng-grid="user_ctrl.gridOptions">
  <div  class="container-fluid">
    <h1> 
      Usuários
      <a href="/#/users/new"> 
        <i class="fa fa-plus-circle"></i> 
      </a>
    </h1>
  </div>
  <table datatable="ng" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Email</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in user_ctrl.users">
        <td>{{ user.id}}</td>
        <td>{{ user.username}}</td>
        <td>{{ user.email}}</td>
        <td>
            
          <button class="btn-primary" type="button">
            
          <a
            class="btn-primary"
            ng-href="/#/users/{{user.id}}"
             > Editar </a>
          </button>
          <button
            type="button"
            ng-click="user_ctrl.excluir('/api/users/' + user.id)"
            class="btn-danger"
          > Excluir </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>