appdirs==1.4.0
certifi==2018.4.16
codegen==1.0
decorator==4.0.11
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.5
django-decouple==2.1
django-filter==1.0.1
djangorestframework==3.5.4
gunicorn==19.6.0
ipdb==0.10.2
ipython==5.2.2
ipython-genutils==0.1.0
Markdown==2.6.8
mock==2.0.0
olefile==0.44
packaging==16.8
patterns==0.3
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
pipenv==2018.5.18
pkg-resources==0.0.0
prompt-toolkit==1.0.13
psycopg2==2.6.2
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
simplegeneric==0.8.1
six==1.10.0
static3==0.7.0
traitlets==4.3.1
Unipath==1.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
mock==2.0.0

