<div ui-view="form" ng-cloak ng-grid="product_ctrl.gridOptions">
  <div  class="container-fluid">
    <h1 class="page-header"> 
      Produtos
      <a ui-sref="products.new"> 
        <i class="fa fa-plus-circle"></i> 
      </a>
    </h1>
  </div>
  <table
    datatable="ng"
    class="row-border hover"
    dt-instance="product_ctrl.dtInstance"
    dt-options="product_ctrl.dtOptions"
    dt-column-defs="product_ctrl.dtColumnDefs"
    cellpadding="0"
    cellspacing="0"
    border="0"
    >
    <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Cor</th>
        <th>Tamanho</th>
        <th>Quantidade</th>
        <th>Desconto habilitado</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in product_ctrl.products">
        <td>{{ product.code}}</td>
        <td>{{ product.description}}</td>
        <td>{{ product_ctrl.colors[product.color].name }}</td>
        <td>{{ product.size}}</td>
        <td>{{ product.amount}}</td>
        <td>{{ product.enable_deduction?'Sim':'Não'}}</td>
        <td>
            
          <button class="btn-primary" type="button">
            
          <a
            class="btn-primary"
            ui-sref="products.edit({productId: {{product.id}}})"
             > Editar </a>
          </button>
          <button
            type="button"
            ng-click="product_ctrl.excluir('/api/products/' + product.id)"
            class="btn-danger"
          > Excluir </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>