<div ui-view="form" ng-cloak ng-grid="stock_ctrl.gridOptions">
  <div  class="container-fluid">
    <h1 class="page-header"> 
      Estoque
      <a ui-sref="stock.new"> 
        <i class="fa fa-plus-circle"></i> 
      </a>
    </h1>
  </div>
  <table datatable="ng" class="row-border hover">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Código</th>
        <th>Loja</th>
        <th>Quantidade</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in stock_ctrl.stocks">
        <td>{{ stock.product.description }}</td>
        <td>{{ stock.product.code }}</td>
        <td>{{ stock.user.username }}</td>
        <td>{{ stock.amount }}</td>
        <td>
            
          <button
            class="btn-primary"
            ng-click="stock_ctrl.edit(stock.id)"
            type="button"
          > Editar </button>
          <button
            type="button"
            ng-click="stock_ctrl.excluir('/api/stocks/' + stock.id)"
            class="btn-danger"
          > Excluir </button>
          <button
            type="button"
            ng-click="stock_ctrl.transfer(stock.id)"
            class="btn-primary"
          > 
            Transferência </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>