<div ui-view="form" ng-cloak ng-grid="employee_ctrl.gridOptions">
  <div  class="container-fluid">
    <h1> 
      Funcionários
      <a ui-sref="employees.new"> 
        <i class="fa fa-plus-circle"></i> 
      </a>
    </h1>
  </div>
  <table
    datatable="ng"
    class="row-border hover"
    dt-instance="employee_ctrl.dtInstance"
    dt-options="employee_ctrl.dtOptions"
    dt-column-defs="employee_ctrl.dtColumnDefs"
    cellpadding="0"
    cellspacing="0"
    border="0"
  >
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Função</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employee_ctrl.employees">
        <td>{{ employee.code}}</td>
        <td>{{ employee.name}}</td>
        <td>{{ employee_ctrl.careers[employee.career] }}</td>
        <td>
            
          <button
            class="btn-primary"
            type="button"
            ng-click="employee_ctrl.edit(employee.id)"
          >
            Editar
          </button>
          <button
            type="button"
            ng-click="employee_ctrl.excluir('/api/employees/' + employee.id)"
            class="btn-danger"
          > Excluir </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>